[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
joblib = "*"
undetected-chromedriver = "*"
selenium = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"
